body {
  font-family: Arial, sans-serif;
  background: #f5f5f5; 
  padding: 40px;
  color: #333;
}

.container {
  width: 350px;
  margin: auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
  border-top: 6px solid #D6001C; 
}

h2 {
  text-align: center;
  color: #D6001C; 
  margin-bottom: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

label {
  font-weight: bold;
  color: #313030;
  font-size: 13px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  width: 94%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fafafa;
  font-size: 13px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.08); 
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fafafa;
  font-size: 13px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.08);
}

input:focus,
select:focus {
  outline: none;
  border-color: #D6001C;
  box-shadow: 0 0 6px rgba(214,0,28,0.35);
}

button {
  width: 100%;
  padding: 12px;
  background: #D6001C; 
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

button:hover {
  background: #b70018;
}

#result {
  margin-top: 10px;
  padding: 12px;
  border-radius: 6px;
  background: #fff5f6; 
  border: 0.3px solid #7e7b7b;
  font-weight: bold;
  color: #b00017;
  text-align: center;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.08);
  margin-left: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#resultBox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
}

#result {
  font-weight: bold;
  color: #b00017;
  flex-grow: 1;
}

#copyIcon {
  flex-shrink: 0;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-left: 6px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease;
}

#copyIcon::before,
#copyIcon::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  border: 1px solid #F1E2E2;
  border-radius: 2px;
}

#copyIcon::before {
  top: 4px;
  left: 7px;
}

#copyIcon::after {
  top: 7px;
  left: 4px;
}

#copyIcon:hover {
  transform: scale(1.15);
}

#copyIcon:hover::before,
#copyIcon:hover::after {
  border-color: #b70018;
}


#copyIcon:hover {
  transform: scale(1.15);
  stroke: #b70018;
}

.required {
  color: #D6001C;
  margin-left: 2px;
}

#errors {
  margin-top: 8px;
  color: #b00017;
  font-size: 12px;
  font-family: Arial, sans-serif;
  text-align: center;
}
